.window-container {
     width: 100%;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     overflow-x: hidden;
     overflow-y: auto;
}

.header {
     width: 100%;
     height: 60px;
     background-color: #000;
     font-family: "Science Gothic", sans-serif;
     font-size: large;
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h2 {
     color: #fff;
     margin-left: 20px;
}

.profile-icon {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-top: 10px;
}

.profile-icon-btn {
     background: transparent;
     border: none;
     padding: 5px 5px;
     margin: 10px;
     border-radius: 50%;
     cursor: pointer;
}

.todo-entry-container {
     width: 100%;
     padding: 20px 0;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     background-color: transparent;
}

.todo-entry-container .entry-container {
     width: 50%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.todo-entry-container .entry-container input {
     width: 100%;
     height: 40px;
     padding: 10px 10px;
     background: #2a2929;
     /* background: #1b1b1b; */
     border: 1px solid transparent;
     border-top-right-radius: 0 !important;
     border-bottom-right-radius: 0 !important;
     outline: none;
     font-family: "Poppins", sans-serif;
     border-radius: 5px;
     font-size: 16px;
}

.todo-entry-container .entry-container button {
     padding: 20px 15px;
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
}

.todo-list-container {
     width: 100%;
     flex: 1;
     overflow-y: auto;
}


.todo-items-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     padding: 20px;
     overflow-x: hidden;
     overflow-y: visible;
}

.todo-item {
     width: 70%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     background: #2a2929;
     margin-bottom: 10px;
     padding: 10px 15px;
     border-radius: 5px;
}

.todo-list-container .todo-list-title {
     font-family: "Science Gothic", sans-serif;
     font-size: x-large;
     text-align: left;
     width: 100%;
     margin: 20px 0 10px 350px;
}

.todo-list-items {
     font-family: 'Poppins', sans-serif;
     font-size: large;
}

.todo-btn-container {
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
     margin-right: 20px;
     width: 18%;
}

.tick-icon,
.x-icon {
     width: 20px;
     height: 20px;
     stroke: #2a2929;
     padding: 0px 10px;
}

.completed-todo-btn-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin-right: 20px;
     width: 10%;
}

.no-todo-text {
     display: block;
     font-family: 'Poppins', sans-serif;
     font-size: large;
     color: #888;
     margin-top: 20px;
}

@media (max-width: 768px) {

     #root,
     body,
     html {
          overflow-x: hidden;
     }

     .window-container {
          width: 100%;
     }

     .header {
          width: 100%;
          padding-top: 10px;
     }

     .todo-entry-container {
          width: 100%;
          margin-top: 20px;
          overflow-x: hidden;
     }

     .todo-entry-container .entry-container {
          width: 90%;
          overflow-x: hidden;
     }

     .todo-list-container .todo-list-title {
          text-align: left;
          padding-left: 10px;
          margin: 15px 0 10px 50px;
     }

     .todo-items-container {
          padding-left: 0;
          padding-bottom: 80px;
          overflow-x: hidden;
     }

     .todo-btn-container {
          width: 55%;
          margin-right: 0px;
     }

     .todo-list-items {
          width: 45%;
          font-size: medium;
          text-align: left;
     }

     .completed-todo-btn-container {
          width: 50%;
          margin-right: 15px;
          justify-content: flex-end;
     }

     .tick-icon,
     .x-icon {
          padding: 0px 6px;
     }

}